# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store


deps/tcc/
.idea
.vs
install
vsxmake2022
CMakeLists.txt
/terranova-v0.1-windows-x86_64.zip
/compile_commands.json
/CMakeLists.txt
.cache
.vscode
